
#voice-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #2563eb;
  color: white;
  width: 65px;
  height: 65px;
  font-size: 32px;
  border-radius: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  box-shadow:0 4px 12px rgba(0,0,0,0.3);
}
#voice-button:hover{
  background:#1d4ed8;
}
